<% include ../partials/boilerplate %>
<% include ../partials/header.ejs %>


<div class='blog'>
<div id=container>

  </div>
  </div>
  <img id="my_img" src="<%= blog.img %>" alt="blog_img">
  <br>
  <p> <%= blog.title %></p>
  <br>
  <p> Date: <%= blog.issuetime %></p>
  <br>
  <p> Author: <%= blog.author %></p>
  <br>
  <p> Category: <%= blog.category %></p>
  <br>
  <p id="entry">  "<%= blog.entry %>"</p>

  <br>

  <div id='buttons'>
  <a href="/blogs/<%= blog.id %>/edit"> Edit Post </a>
  <form action="/blogs/<%= blog.id %>?_method=Delete" method="Post">
   <a> <input id='delete' type="Submit" value="Delete"/></a>
  </form>
  <a href='/blogs/'>See all Articles</a>
  </div>
</div>




<% include ../partials/footer %>
