<% include ../partials/boilerplate %>
<% include ../partials/header.ejs %>

<main>
<div id="page-container">


<div class="list">


    <% for (let blogs of blog) { %>
    <div class='blog_snippet'>
    <br>
    <img id="my_img" src="<%= blogs.img %>" alt="blog_img">
      <p class="blog-title"> <%= blogs.title %></p>
      <p class="blog-subtitle"> <%= blogs.category %>
      <a  class="line" href='/blogs/<%= blogs.id%>'>| READ MORE></a></p>
    <hr class="small-hr">
    </div>
  <% } %>

  </div>

  <div class="top-picks">
  <p class="column-title">Top Posts</p>
      <% for (let blogs of blog) { %>
    <div class='blog_snippet'>
    <br>
    <img id="my_img" src="<%= blogs.img %>" alt="blog_img">
      <p class="blog-title"> <%= blogs.title %></p>
      <p class="blog-subtitle"> <%= blogs.category %>
      <a  class="line" href='/blogs/<%= blogs.id%>'>| READ></a></p>
    <hr class="small-hr">
    </div>
  <% } %>

  </div>
    <div id='temp'>
  <a id="lined" id='welcomea' href="/blogs/new">Add Your Post</a>

  </div>
  </div>





  <% include ../partials/footer %>

  </main>
</body>
</html>
